<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/fonts/fonts.css">
    <link rel="stylesheet" href="static/fonts/fonts.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лебедев С.А.</title>
</head>
<body>
    <header>

        <div class="container">

            <div class="header-inner">
                <nav>
                    <a href="/">Главная</a>
                    <a href="/biography">Биографии</a>
                    <a href="/inter">Интересное</a>
                    <a href="/check">Проверь себя</a>
                    <a href="/blog">Блог</a>
                </nav>

            </div>

        </div>

    </header>


    <section class="newsFormat">

        <div class="container">

            <div class="seans-tite">
                <img src="static/images/left1.png" alt="">
    
                <p>Лебедев Сергей Алексеевич</p>
    
                <img src="static/images/right1.png" alt="">
            </div>

            <div class="newsFormat-inner">

                <div>
                    <div class="news-date">
                        Обновлено 06.04.2023
                    </div>

                    <h2>Лебедев С.А. (2.10.1902 - 3.07.1974)</h2>

                    <p>Лебедев Сергей Алексеевич – советский ученый и автор трудов по устойчивости энергосистем, вычислительной технике.
В 1921 году Лебедев поступил в МВТУ на электротехнический факультет. Многие годы он посвятил энергетике. В конце 1940-х годов, видя потребность народного хозяйства и оборонной промышленности в вычислительной технике, переключился на новое научное направление. Под его руководством в Институте электротехники АН УССР была создана первая в стране лаборатория по разработке ЭВМ. Здесь была построена первая советская ЭВМ — МЭСМ (Малая электронная счетная машина). С 1951 года Лебедев работал в Москве, где возглавлял лабораторию в Институте точной механики и вычислительной техники. </p>
                    <p></p>

                </div>

                <img src="static/images/leb2.jpg" alt="">

            </div>
            
        </div>

    </section>

    <section class="footer">

        <div class="container">
            <div class="footer-bottom">
                <p>© 2024 GUPpros<p>
                <p>Сделано illusion, abdekvat, victorygaz</p>
            </div>

        </div>

   </section>

</body>
</html>
