<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/fonts/fonts.css">
    <link rel="stylesheet" href="static/fonts/fonts.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Брусенцов Н.П.</title>
</head>
<body>
    <header>

        <div class="container">

            <div class="header-inner">
                <nav>
                    <a href="/">Главная</a>
                    <a href="/biography">Биографии</a>
                    <a href="/inter">Интересное</a>
                    <a href="#">Проверь себя</a>
                    <a href="/blog">Блог</a>
                </nav>

            </div>

        </div>

    </header>


    <section class="newsFormat">

        <div class="container">

            <div class="seans-tite">
                <img src="static/images/left1.png" alt="">

                <p>Брусенцов Николай Петрович</p>

                <img src="static/images/right1.png" alt="">
            </div>

            <div class="newsFormat-inner">

                <div>
                    <div class="news-date">
                        Обновлено 17.04.2023
                    </div>

                    <h2>Брусенцов Н.П. (7.02.1925 - 4.12.2014)</h2>


                    <p>Родился Николай Петрович Брусенцов 7 февраля 1925 года в городе Днепродзержинске (Украина). Его отец Петр Николаевич Брусенцов был сыном простого рабочего — железнодорожника, учавствовал в строительстве Днепродзержинского коксохимического завода, умер в очень молодом возрасте 37 лет, когда Николаю было всего 14 лет. Мать Мария Дмитриевна осталась сама с тремя детьми. Началась война. В 1943 году Николая призвали в армию и отправили на курсы радистов в Свердловске. Позже он стал радистом 154 стрелковой дивизии в отделении разведки 2 дивизиона 571 артиллерийского полка. Был награжден медалью «За отвагу» и орденом Красной Звезды.
В 1948 году, окончив школу на отлично, поступил на радиотехнический факультет Московского энергетического института. Но, заболев туберкулезом, первый год учебы провел в лечении. Позже наверстал упущенное и стал одним из преуспевающих студентов.
После окончания института Брусенцов был направлен на работу в СКБ при Московском университете, позже в проблемную лабораторию по разработке ЭВМ для использования в учебных заведениях. Вот тут он и познакомился с Сергеем Львовичем Соболевым. Соболев горел идеей создания малой ЭВМ, которая была бы недорога, малогабаритна, надежна для институтских лабораторий. Был организован семинар, в котором принимали участие еще М.Р.Шура-Бура, К.А.Семендяев, Е.А.Жоголев. На семинарах разбирали недостатки существующих машин, прикидывали систему команд и структуру, рассматривали варианты технической реализации, склоняясь к магнитным элементам, поскольку транзисторов еще не было, лампы сходу исключили, а сердечники и диоды можно было достать и все сделать самим.</p>



                </div>

                <img src="static/images/brus2.jpg" alt="">


            </div>

        </div>

    </section>

    <section class="footer">

        <div class="container">
            <div class="footer-bottom">
                <p>© 2024 GUPpros<p>
                <p>Сделано illusion, abdekvat, victorygaz</p>
            </div>

        </div>

   </section>

</body>
</html>
