<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/fonts/fonts.css">
    <link rel="stylesheet" href="static/fonts/fonts.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
</head>
<body>
    <header>

        <div class="container">

            <div class="header-inner">
                <nav>
                    <a href="/">Главная</a>
                    <a href="/biography">Биографии</a>
                    <a href="/inter">Интересное</a>
                    <a href="/check">Проверь себя</a>
                    <a href="/blog">Блог</a>
                </nav>

            </div>

        </div>

    </header>


    <section class="blog-inner">

        <div class="container">

            <div class="seans-tite">
                <img src="assets/images/left1.png" alt="">
    
                <p>Блог</p>
    
                <img src="assets/images/right1.png" alt="">
            </div>

            
            <div class="blog">
                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>

                        <h2>Проверь себя!</h2>

                        <p>Добавили станицу с тестами по материалу на сайте!</p>

                    </div>
                </div>


                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>

                        <h2>Теперь с видео!</h2>

                        <p>В интересном добавили познавательные ролики!</p>

                    </div>
                </div>


                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 17.04.2024
                        </div>

                        <h2>Работаем!</h2>

                        <p>Обновили биографии и добавили новые!</p>

                    </div>
                </div>

                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 06.04.2024
                        </div>

                        <h2>Продолжаем сайт на Flask</h2>

                        <p>Сделали оформление и много новых страниц с биографиями!!!</p>

                    </div>

                </div>

                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 23.03.2024
                        </div>

                        <h2>Начали делать сайт на Flask</h2>

                        <p>Начали делать сайт используя Flask и Python. Flask — это упрощенная платформа Python для веб-приложений, которая обеспечивает основные возможности маршрутизации URL-адресов и визуализации страниц. Flask называют "микро"-платформой, так как она не предоставляет напрямую такие функции, как проверка форм, абстракция базы данных, проверка подлинности и т. д. </p>

                    </div>
                </div>



            </div>

            
        </div>

    </section>

    <section class="footer">

        <div class="container">
            <div class="footer-bottom">
                <p>© 2024 GUPpros<p>
                <p>Сделано illusion, abdekvat, victorygaz</p>
            </div>

        </div>

   </section>

</body>
</html>
