<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style/style.css">
    <link rel="stylesheet" href="static/fonts/fonts.css">
    <link rel="stylesheet" href="static/fonts/fonts.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/style/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интересное</title>
</head>
<body>
    <header>

        <div class="container">

            <div class="header-inner">
                <nav>
                    <a href="/">Главная</a>
                    <a href="/biography">Биографии</a>
                    <a href="/inter">Интересное</a>
                    <a href="/check">Проверь себя</a>
                    <a href="/blog">Блог</a>
                </nav>

            </div>

        </div>

    </header>

    <section class="blog-inner">

        <div class="container">

            <div class="seans-tite">
                <img src="assets/images/left1.png" alt="">

                <p>Интересное</p>

                <img src="assets/images/right1.png" alt="">
            </div>


            <div class="blog">

                <div class="blog-item">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>

                        <h2>История Русской Цифры (IT)</h2>

                        <div class="vid_sec">
                            <iframe width="600" height="315" src="https://www.youtube-nocookie.com/embed/4ap5isPFgl8?si=EeIIqqVXjU4qhNPP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                            <p>Сегодня программист — самая популярная профессия, но так было не всегда. Как зарождалось IT-образование в России, к чему оно пришло сейчас и как будет выглядеть в будущем? Рассказывают представители вузов, онлайн-школ и бизнеса</p>
                        </div>




                    </div>
                </div>

                <div class="blog-item vid">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>

                        <h2>Краткая история интернета</h2>

                        <div class="vid_sec">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rQPBT2dimSg?si=vvuB9haVpghlQHL_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <p>Краткая история – это простой и легкий способ разобраться в любой теме. И сегодня мы поговорим о главной технологической новинке прошлого века - интернете. Он перевернул представления о мире и о существовании в нем. Половина жителей земли стала создавать и потреблять информацию. Мессенджеры, онлайн-шопинг, лайки в соцсетях – как мы жили без всего этого? Не отключайтесь от сети, мы начинаем историю интернета</p>
                        </div>
                    </div>
                </div>

                <div class="blog-item vid">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>
                        <h2>Краткая история информатики</h2>

                        <div class="vid_sec">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MIp73opHI9I?si=xT1u-_BORTAUH-5D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>Краткая история становления информатики в простом и запоминающемся формате. Автор рассмотрит все самые важные даты и личностей, которые повлияли на развитие информатики</p>
                        </div>

                    </div>
                </div>

                <div class="blog-item vid">

                    <div class="blog-item-text">
                        <div class="news-date">
                            Обновлено 18.04.2024
                        </div>

                        <h2>История появления программирования и ЭВМ</h2>

                        <div class="vid_sec">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/auaJI_Ek0DQ?si=pvS3h9P1CMPROyiC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>В этом видеоуроке рассказывается о возникновении и развитии программирования и ЭВМ, упоминаются ключевые моменты в истории, связанные с развитием компьютеров. Также в данном уроке можно познакомиться с изобретателями, которые повлияли непосредственно на модернизацию ЭВМ</p>
                        </div>

                    </div>
                </div>





            </div>


        </div>

    </section>



   <section class="footer">

        <div class="container">
            <div class="footer-bottom">
                <p>© 2024 GUPpros<p>
                <p>Сделано illusion, abdekvat, victorygaz</p>
            </div>

        </div>

   </section>



</body>
</html>